* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #012A53;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container--small {
  max-width: 1110px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1279px) {
  .desktop-visible {
    display: none;
  }
}
@media (max-width: 991px) {
  .tablet-invisible {
    display: none;
  }
}
@media (max-width: 767px) {
  .mobile-invisible {
    display: none;
  }
}
@media (max-width: 479px) {
  .extra-mobile-invisible {
    display: none;
  }
}
@media (min-width: 480px) {
  .extra-mobile-visible {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-visible {
    display: none;
  }
}
@media (min-width: 992px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .row--align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tablet-visible {
    display: none;
  }
}
h1,
h2,
h3 {
  line-height: 1.2;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.4;
}

p.large {
  font-size: 24px;
  line-height: 1.5;
}

p.small {
  font-size: 16px;
  line-height: 1.4;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #00AFD7;
}

.text-center, .section__headline {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-italic {
  font-style: italic;
}

.text-gray {
  color: #92929D;
}

.text-blue {
  color: #004C97;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

@media (max-width: 991px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 36px;
  }
}
.btn {
  position: relative;
  height: 53px;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 40px;
  border: 2px solid;
}
.btn:after {
  content: "";
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn--primary {
  background-color: #004C97;
  border-color: #004C97;
  color: #ffffff;
}
.btn--primary:hover {
  background-color: #012A53;
  border-color: #012A53;
}
.btn--primary-outline {
  background-color: #ffffff;
  border-color: #004C97;
  color: #004C97;
}
.btn--primary-outline:hover {
  background-color: #004C97;
  color: #ffffff;
}
.btn--secondary {
  background-color: #A4D65E;
  border-color: #A4D65E;
  color: #012A53;
}
.btn--secondary:hover:after {
  opacity: 1;
}
.btn--secondary-outline {
  background-color: #ffffff;
  border-color: #A4D65E;
  color: #012A53;
}
.btn--secondary-outline:hover {
  background-color: #A4D65E;
}
.btn--secondary-outline:hover:after {
  opacity: 1;
}
.btn--cta {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 20;
  height: 70px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: #012A53;
  color: #ffffff;
  border: none;
}
.btn--cta:before {
  content: "";
  width: 24px;
  height: 20px;
  background: url(../img/icons/cta-chat.svg) no-repeat 50% 50%/contain;
}
.btn--cta:hover {
  -webkit-box-shadow: 0px 4px 37px 0px rgb(164, 214, 94), 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 37px 0px rgb(164, 214, 94), 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1279px) {
  .btn--cta {
    width: 70px;
    height: 70px;
  }
  .btn--cta span {
    display: none;
  }
}
@media (min-width: 1280px) {
  .btn--cta:before {
    margin-right: 8px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10;
}
.header--colored + .content {
  margin-top: 100px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header img {
  display: block;
}
@media (max-width: 991px) {
  .header--colored {
    background-color: #004C97;
  }
  .header--colored .logo {
    background: url(../img/logo-white.svg) no-repeat 50% 50%/100% auto;
  }
  .header--colored .logo img {
    opacity: 0;
  }
}
@media (min-width: 992px) {
  .header--colored {
    background-color: #ffffff;
  }
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__drop-btn,
.navigation a {
  color: #012A53;
  font-weight: 700;
  font-size: 18px;
}
.navigation__drop-btn:hover, .navigation__drop-btn.active,
.navigation a:hover,
.navigation a.active {
  color: #004C97;
}
.navigation__drop-btn {
  position: relative;
  cursor: pointer;
  padding-right: 19px;
}
.navigation__drop-btn svg {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -4px;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation__drop-btn svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation__drop-btn:hover svg path {
  fill: #004C97;
}
.navigation__drop-btn.opened svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.navigation ul {
  list-style: none;
}
@media (max-width: 991px) {
  .navigation {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #ffffff;
  }
  .navigation__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation__menu > li {
    border-top: 1px solid #92929D;
  }
  .navigation__drop-btn,
  .navigation a {
    display: block;
    padding: 15px;
  }
  .navigation__drop-btn {
    padding-right: 40px;
  }
  .navigation__drop-btn svg {
    right: 15px;
  }
  .navigation__sub-menu li {
    border-top: 1px solid #DEE8F2;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block !important;
  }
  .navigation__menu {
    gap: 32px;
  }
  .navigation__menu > li {
    position: relative;
  }
  .navigation__sub-menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    -webkit-box-shadow: 0 5px 15px #004C97;
            box-shadow: 0 5px 15px #004C97;
  }
  .navigation__sub-menu > li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .mobile-nav-btn {
    position: relative;
    width: 24px;
    height: 16px;
    display: block;
  }
  .mobile-nav-btn em, .mobile-nav-btn:before, .mobile-nav-btn:after {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #004C97;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header--colored .mobile-nav-btn em, .header--colored .mobile-nav-btn:before, .header--colored .mobile-nav-btn:after {
    background-color: #ffffff;
  }
  .mobile-nav-btn em {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 16px;
  }
  .mobile-nav-btn:before, .mobile-nav-btn:after {
    content: "";
  }
  .mobile-nav-btn:before {
    top: 0;
    width: 24px;
  }
  .mobile-nav-btn:after {
    bottom: 0;
    width: 8px;
  }
  .mobile-nav-btn.opened em {
    opacity: 0;
  }
  .mobile-nav-btn.opened:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }
  .mobile-nav-btn.opened:after {
    bottom: 6px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 24px;
  }
}
.content {
  font-size: 18px;
  line-height: 1.4;
}

.section__headline {
  max-width: 800px;
}
.section__headline *:not(:first-child) {
  margin-top: 32px;
}
@media (max-width: 991px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.section--no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section--no-padding-bottom {
  padding-bottom: 0;
}

.wave-img {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.wave-img:before, .wave-img:after {
  content: "";
  position: absolute;
}
.wave-img:before {
  right: 0;
  top: 0;
}
.wave-img:after {
  top: 0;
  bottom: 0;
}
.wave-img img {
  position: relative;
}
.wave-img--blue {
  padding: 14px;
}
.wave-img--blue:before {
  left: 0;
  bottom: 0;
  background: url(../img/waveImgBg/blue.svg) no-repeat 50% 50%/contain;
}
.wave-img--teal {
  padding: 40px 30px 0 0;
}
.wave-img--teal:before {
  left: 20px;
  bottom: 0;
  background: url(../img/waveImgBg/teal.svg) no-repeat 50% 0/contain;
}
.wave-img--green {
  padding: 10px 0 0;
}
.wave-img--green:before {
  left: 10px;
  bottom: 10px;
  background: url(../img/waveImgBg/green.svg) no-repeat 50% 50%/contain;
}
.wave-img--outline-green {
  padding: 0 0 40px;
}
.wave-img--outline-green:after {
  left: 0;
  right: 10px;
  background: url(../img/waveImgBg/outline-green.svg) no-repeat 50% 100%/contain;
}
.wave-img--outline-blue {
  padding: 0 0 30px;
}
.wave-img--outline-blue:after {
  left: 20px;
  right: -20px;
  background: url(../img/waveImgBg/outline-blue.svg) no-repeat 50% 100%/contain;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) {
  .stats {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
}
@media (min-width: 992px) {
  .stats {
    margin-top: 100px;
    gap: 20px;
  }
}

.stat {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background-position: 100% 0;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.features .stat {
  width: 295px;
  padding: 60px 25px 44px;
}
.stats .stat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 46px 40px;
}
@media (min-width: 992px) {
  .stats .stat {
    min-height: 440px;
  }
}
.stat--green {
  background-color: #A4D65E;
  background-image: url(../img/icons/stat-house.svg);
}
.stat--navy {
  background-color: #012A53;
  background-image: url(../img/icons/stat-stethoscope.svg);
  color: #A4D65E;
}
.stat--blue {
  background-color: #004C97;
  background-image: url(../img/icons/stat-money.svg);
  color: #ffffff;
}
.stat--teal {
  background-color: #00AB8E;
  background-image: url(../img/icons/stat-chat.svg);
  color: #012A53;
}
.stat__percent {
  font-size: 120px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 20px;
}
.stat p {
  font-weight: 700;
  line-height: 1.17;
}
.stat .btn {
  margin-top: 48px;
}
.stat h2 {
  margin-bottom: 32px;
}

.text-border {
  padding: 32px 20px;
  border: 1px solid #F1F1F6;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}

.icon-bg {
  height: 70px;
  padding: 10px 30px 10px 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-bg--circle-blue {
  background-image: url(../img/icons/base-bg-circle-blue.svg);
}
.icon-bg--circle-gray {
  background-image: url(../img/icons/base-bg-circle-gray.svg);
}
.icon-bg--triangle-green {
  background-image: url(../img/icons/base-bg-triangle-green.svg);
}
.icon-bg--triangle-gray {
  background-image: url(../img/icons/base-bg-triangle-gray.svg);
}

.pagination {
  margin-top: 60px;
}
.pagination ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.pagination a {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #ffffff;
  color: #92929D;
}
.pagination a.pagination__prev svg, .pagination a.pagination__next svg {
  display: block;
}
.pagination a.pagination__prev svg path, .pagination a.pagination__next svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #DEE8F2;
}
.pagination a.pagination__prev svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.pagination a.pagination__next svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.pagination a:hover, .pagination a.active {
  background-color: #00AFD7;
  color: #ffffff;
}
.pagination a:hover svg path, .pagination a.active svg path {
  fill: #ffffff;
}
@media (max-width: 479px) {
  .pagination ul {
    gap: 8px;
  }
}

.banner {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.banner--blue {
  background-image: url(../img/home/banner-bg.svg);
  color: #ffffff;
}
.banner__bg img {
  width: 100%;
  height: 100%;
  max-width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__headline {
  position: relative;
}
.banner__headline h1 {
  background: linear-gradient(92.55deg, #002952 8.55%, #004C97 79.88%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner__text > *:not(:last-child) {
  margin-bottom: 40px;
}
.banner__hero {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.banner .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1279px) {
  .banner__hero {
    width: 334px;
  }
}
@media (max-width: 991px) {
  .banner--blue {
    padding-top: 20px;
    padding-bottom: 76px;
  }
  .banner--blue h1 {
    font-size: 35px;
  }
  .banner__bg {
    height: 282px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .banner__headline {
    padding-top: 50px;
    text-align: center;
  }
  .banner .large {
    line-height: 1.16;
  }
  .banner .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 767px) {
  .banner--blue {
    background-position: 50% calc(100% - 68px);
    background-size: 200% auto;
    padding-bottom: 168px;
  }
  .banner__hero {
    position: absolute;
    right: -80px;
    bottom: 0;
    width: 265px;
  }
}
@media (min-width: 992px) {
  .banner--blue {
    padding-top: 58px;
    padding-bottom: 126px;
  }
  .banner:not(.banner--blue) {
    height: 581px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.features__info > *:not(:last-child) {
  margin-bottom: 32px;
}
.features__stats-col {
  max-width: 295px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.features__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.features .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1279px) {
  .features__stats {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features .row {
    gap: 32px;
  }
}
@media (max-width: 991px) {
  .features__stats {
    margin-top: 50px;
  }
}
@media (max-width: 639px) {
  .features__btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .features__stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 410px) {
  .features .btn {
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media (min-width: 640px) {
  .features__stats {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .features__stats-col--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .features__btns {
    gap: 32px;
  }
}
@media (min-width: 768px) {
  .features .mobile-invisible {
    display: block !important;
  }
}
@media (min-width: 1101px) and (max-width: 1279px) {
  .features .row {
    gap: 32px;
  }
}
@media (min-width: 1280px) {
  .features__stats-col:last-child {
    padding-top: 60px;
    margin-bottom: -25px;
  }
  .features .row {
    gap: 68px;
  }
}

.photo-text {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo-text__text {
  max-width: 486px;
}
.photo-text .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.photo-text h2,
.photo-text p {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .photo-text {
    padding-top: 0;
    padding-bottom: 0;
  }
  .photo-text__photo {
    margin-left: -15px;
    margin-right: -15px;
  }
  .photo-text__photo img {
    width: 100%;
    display: block;
  }
}
@media (max-width: 767px) {
  .photo-text--about .video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 52px;
    height: 52px;
    margin-top: -26px;
    margin-left: -26px;
  }
  .photo-text--about .photo-text__text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .photo-text--about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .photo-text__photo {
    position: relative;
  }
}
@media (min-width: 768px) {
  .photo-text--home {
    background-image: url(../img/home/reimbursement.png);
  }
  .photo-text--about {
    background-image: url(../img/about/providers.png);
  }
  .photo-text__video-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .photo-text .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .photo-text {
    background-position: -100px 50%;
  }
  .photo-text__text {
    max-width: 351px;
  }
}
@media (min-width: 992px) {
  .photo-text {
    min-height: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.testimonials {
  text-align: center;
}
.testimonials--blue {
  background-color: #00AFD7;
}
.testimonials--light-blue {
  background: url(../img/bg/light-blue-bg.jpg) no-repeat 50% 50%/cover;
}
.testimonials__logo {
  margin-bottom: 76px;
  width: 222px;
  margin-left: auto;
  margin-right: auto;
}
.testimonials__logo img {
  width: 100%;
}

.text-slider {
  padding-bottom: 120px;
}
.text-slider__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.text-slider h3 {
  font-weight: 400;
  margin-bottom: 54px;
}
.text-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text-slider .slick-slide {
  height: auto;
}
.text-slider .slick-arrow {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.text-slider .slick-arrow.slick-prev {
  right: calc(50% + 10px);
}
.text-slider .slick-arrow.slick-next {
  left: calc(50% + 10px);
  -webkit-transform: scale(-1);
          transform: scale(-1);
}
.text-slider .slick-arrow:hover {
  background-color: #012A53;
}
.text-slider .slick-arrow:hover svg path {
  fill: #ffffff;
}
.text-slider .slick-arrow svg {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 991px) {
  .text-slider h3 {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .text-slider h3 {
    font-size: 48px;
  }
}

.video-section {
  background: url(../img/bg/light-blue-bg.jpg) no-repeat 50% 50%/cover;
}
.video-section .text-center, .video-section .section__headline {
  max-width: 750px;
}

.video {
  position: relative;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.video-btn {
  display: block;
  width: 142px;
  height: 142px;
  background: url(../img/icons/play.svg) no-repeat 50% 50%/contain;
}
.video-btn--small {
  width: 58px;
  height: 58px;
}
.video__btn {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin-top: -71px;
  margin-left: -71px;
}
.video__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 767px) {
  .video-btn {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
  }
}

.stacks {
  max-width: 1080px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.stack-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stack-card__text > *:not(:first-child) {
  margin-top: 32px;
}
.stack-card__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991px) {
  .stack-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    gap: 30px;
  }
  .stack-card .icon-bg {
    display: none;
  }
}
@media (min-width: 992px) {
  .stack-card {
    margin-top: 32px;
    gap: 20px;
  }
  .stack-card--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .stack-card__text, .stack-card__photo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.team-grid {
  display: grid;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  gap: 32px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 639px) {
  .team-grid {
    grid-template-columns: repeat(1, 300px);
  }
}
@media (min-width: 640px) and (max-width: 991px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #F1F1F6;
  border-radius: 16px;
}
.team-card__photo {
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}
.team-card__photo img {
  width: 100%;
}
.team-card__text {
  padding: 32px 16px;
  text-align: center;
}
.team-card__text h3 {
  color: #004C97;
}
.team-card__text *:not(:last-child) {
  margin-bottom: 20px;
}
.team-card__text .text-gray {
  font-size: 16px;
  color: #808080;
}
.team-card__text .btn {
  margin-top: 12px;
}

.benefits__photo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .benefits__photo {
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .benefits .row {
    gap: 40px;
  }
}

@media (min-width: 1280px) {
  .providers-section {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .providers-section:before, .providers-section:after {
    content: "";
    position: absolute;
  }
  .providers-section:before {
    width: 350px;
    height: 340px;
    top: 782px;
    left: -203px;
    background: url(../img/public-reporting/bg-left.svg) no-repeat 50% 50%;
  }
  .providers-section:after {
    width: 460px;
    height: 500px;
    top: 50%;
    right: -150px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url(../img/public-reporting/bg-right.svg) no-repeat 50% 50%;
  }
}
.providers-contact {
  margin-bottom: 100px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.providers-contact a {
  word-break: break-all;
}
.providers-contact .text-center > *:not(:first-child), .providers-contact .section__headline > *:not(:first-child) {
  margin-top: 32px;
}
@media (max-width: 991px) {
  .providers-contact .text-center:not(:first-child), .providers-contact .section__headline:not(:first-child) {
    margin-top: 50px;
  }
}

.providers-grid {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (min-width: 640px) {
  .providers-grid {
    gap: 20px;
  }
}

.provider {
  max-width: 270px;
  width: 100%;
}
@media (max-width: 1279px) {
  .provider {
    margin-top: 32px;
  }
}
@media (min-width: 1280px) {
  .provider {
    margin-top: 60px;
  }
}

.providers-more-btn {
  margin-top: 32px;
  display: inline-block;
  color: #012A53;
  font-weight: 700;
}

.accordion {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.accordion__item {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(91, 127, 149, 0.2);
}
.accordion__btn {
  position: relative;
  padding-right: 50px;
  cursor: pointer;
}
.accordion__btn:before, .accordion__btn:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion__btn:before {
  background: url(../img/icons/plus.svg) no-repeat 50% 50%;
}
.accordion__btn:after {
  background: url(../img/icons/minus.svg) no-repeat 50% 50%;
  opacity: 0;
}
.opened .accordion__btn:before {
  opacity: 0;
}
.opened .accordion__btn:after {
  opacity: 1;
}
.accordion__btn h3 {
  color: #004C97;
  margin: 0;
}
.accordion__content {
  display: none;
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1279px) {
  .accordion h3 br {
    display: none;
  }
}

.resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.resources__item {
  text-align: center;
  max-width: 350px;
}
.resources__media {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  height: 207px;
  margin-bottom: 20px;
}
.resources__media img {
  width: 100%;
  height: 100%;
  max-width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.resources .video-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -29px;
  margin-left: -29px;
}
@media (max-width: 991px) {
  .resources__item {
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .resources {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 768px) {
  .resources {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .resources__item {
    margin-top: 60px;
  }
}

.check-list {
  list-style: none;
}
.check-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.check-list li:before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  background: url(../img/icons/check.svg) no-repeat 50% 50%;
}
.check-list li + li {
  margin-top: 24px;
}

.main-cta {
  background-color: rgba(0, 171, 142, 0.7);
}
.main-cta__photo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-cta .row {
  gap: 54px;
}
@media (max-width: 991px) {
  .main-cta {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main-cta__photo {
    margin-top: 47px;
  }
  .main-cta h2 {
    margin-bottom: 35px;
  }
  .main-cta p {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .main-cta {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .main-cta h2 {
    margin-bottom: 30px;
  }
  .main-cta p {
    margin-bottom: 45px;
  }
}

.footer {
  background-color: #012A53;
  color: #ffffff;
}
.footer__top, .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom {
  margin-top: 57px;
}
.footer__logo:hover {
  opacity: 0.75;
}
.footer__logo img {
  display: block;
}
.footer a:not(.btn):not(.footer__logo) {
  position: relative;
  color: inherit;
}
.footer a:not(.btn):not(.footer__logo):after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer a:not(.btn):not(.footer__logo):hover:after {
  right: 0;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
  }
  .footer__top, .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top {
    gap: 46px;
  }
  .footer__bottom {
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .footer {
    padding-top: 67px;
    padding-bottom: 57px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: none;
}
.modal__over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}
.modal__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 793px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.modal__header {
  padding: 60px 40px 42px;
  background: #012A53 url(../img/icons/modal-header.svg) no-repeat 100% 0;
  color: #ffffff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px 20px 0 0;
}
.modal__content {
  padding: 32px 46px 42px;
  min-height: 605px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
}
.modal__close {
  position: absolute;
  top: -30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #012A53 url(../img/icons/modal-close.svg) no-repeat 50% 50%;
  cursor: pointer;
}
@media (max-width: 767px) {
  .modal__over {
    padding: 30px 15px 15px;
  }
  .modal__content {
    padding: 32px;
  }
}

.modal .custom-form {
  width: 100%;
  max-width: 698px;
  margin-left: auto;
  margin-right: auto;
}
.custom-form__field {
  position: relative;
  width: 100%;
}
.custom-form__field label {
  position: absolute;
  left: 13px;
  top: 17px;
  line-height: 1;
}
.custom-form__radio, .custom-form__check {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 14px;
}
.custom-form__radio span, .custom-form__check span {
  padding-left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-form__radio span:before, .custom-form__radio span:after, .custom-form__check span:before, .custom-form__check span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom-form__radio span:before, .custom-form__check span:before {
  border: 2px solid #92929D;
  opacity: 1;
}
.custom-form__radio span:after, .custom-form__check span:after {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  opacity: 0;
}
.custom-form__radio input, .custom-form__check input {
  position: absolute;
  opacity: 0;
}
.custom-form__radio input:checked + span:before, .custom-form__check input:checked + span:before {
  opacity: 0;
}
.custom-form__radio input:checked + span:after, .custom-form__check input:checked + span:after {
  opacity: 1;
}
.custom-form__radio span:before {
  border-radius: 50%;
}
.custom-form__radio span:after {
  border-radius: 50%;
  background-image: url(../img/icons/form-radio.svg);
}
.custom-form__check span:before {
  border-radius: 4px;
}
.custom-form__check span:after {
  border-radius: 4px;
  background-image: url(../img/icons/form-checkbox.svg);
}
.custom-form input:not([type=checkbox]):not([type=radio]):not([type=submit]),
.custom-form select,
.custom-form textarea {
  width: 100%;
  padding-left: 13px;
  border: 1px solid #012A53;
  border-radius: 4px;
  color: #012A53;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom-form input:not([type=checkbox]):not([type=radio]):not([type=submit]):focus,
.custom-form select:focus,
.custom-form textarea:focus {
  border-width: 2px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.custom-form input:not([type=checkbox]):not([type=radio]):not([type=submit]),
.custom-form select {
  height: 48px;
}
.custom-form select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: url(../img/icons/arrow-select.svg) no-repeat calc(100% - 20px) 50%;
}
.custom-form textarea {
  height: 134px;
  padding-top: 13px;
  resize: none;
}
.custom-form .col--space--between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.custom-form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-form .row + .row {
  margin-top: 18px;
}
@media (max-width: 767px) {
  .custom-form .row,
  .custom-form .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .custom-form .col {
    width: 100%;
  }
  .custom-form .col--space--between {
    gap: 16px;
  }
  .custom-form .row {
    gap: 18px;
  }
}
@media (min-width: 768px) {
  .custom-form__radio, .custom-form__check {
    min-height: 48px;
  }
  .custom-form .row {
    gap: 20px;
  }
  .custom-form .col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.custom-form-success {
  display: none;
}
.custom-form-success__icon {
  position: relative;
  top: 2px;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}